<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SQLIP" value="127.0.0.1"></add>
    <add key="SQLNAME" value="root"></add>
    <add key="SQLPSWD" value="Shanghai804"></add>

    <add key ="UseDataBase" value="0"></add>
    
    <add key="name" value="赵四"></add>
    <add key="gender" value="男"></add>
    <add key="age" value="48"></add>
    <add key="phone" value="13821383739"></add>
    <add key="id" value="220181199808086677"></add>
    <add key="mail" value="zhaosi@gmail.com"></add>
    <add key="project_name" value="四大工程第一期计划"></add>
    <add key="appid" value="0123456789abcdef"></add>
    <add key="appkey" value="ppjjww0123456789abcdef"></add>
    <add key="company_name" value="上海煅凿科技"></add>
    <add key="company_phone" value="02124188888"></add>
    <add key="company_address" value="上海市闵行区瓶安路88号"></add>

    <add key="remarks" value="无它"></add>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
