<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="MySQLPath" value="server=127.0.0.1;Database=dmkeybase;uid=root;pwd=Shanghai804;SslMode = none;Charset=utf8"></add>
    
    <add key="UseDataBase" value="1"></add>

    <add key="UseCertForm" value="1"></add>    
    <add key="name" value="赵四">
    </add>
    <add key="gender" value="男">
    </add>
    <add key="age" value="48">
    </add>
    <add key="phone" value="13821383739">
    </add>
    <add key="id" value="220181199808086677">
    </add>
    <add key="mail" value="zhaosi@gmail.com">
    </add>
    <add key="project_name" value="四大工程第一期计划">
    </add>
    <add key="appid" value="0123456789abcdef">
    </add>
    <add key="appkey" value="ppjjww0123456789abcdef">
    </add>
    <add key="company_name" value="上海煅凿科技">
    </add>
    <add key="company_phone" value="021-24188888">
    </add>
    <add key="company_address" value="上海市闵行区瓶安路88号">
    </add>
    <add key="company_belong" value="华东版权所">
    </add>
    <add key="remarks" value="无它">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>